.main {
  margin: 3rem 2rem;
  text-align: center;
  .header {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
  .radioButtons {
    display: inline-block;
    padding: 0.5rem;

    background-color: green;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  .chartContainer {
    display: flex;
    justify-content: space-around;
    .barChart {
      width: 40%;
    }
    .doughnutChart {
      margin-top: 10rem;

      width: 40%;
    }
  }
  .grid {
    font-size: 1.2rem;
    margin: 2rem;
    margin-left: 15rem;
    margin-bottom: 6rem;
    .gutter-row {
      padding: 8px 0;
      background: rgb(230, 228, 228);
      border: 1px solid rgb(36, 105, 36);
      border-radius: 0.2rem;
    }
  }
}
