.detailsContainer {
  .detailsInfo {
    .bridge_info {
      margin-top: 1rem;
      margin-bottom: 1rem;
      .info {
        font-size: 1rem;
        .infoLabel {
          display: inline-block;
          margin-right: 0.5rem;
          color: gray;
        }
      }
    }
  }
}
