.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  background: #161345;
  padding: 5% 5% 1% 5%;

  .links {
    display: flex;
    flex-direction: column;
    width: 30%;
    .link-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    a {
      color: #fff;
      font-family: 'bridge-font';
      font-size: 1rem;
      margin: 1% 0;
    }
    img {
      width: 120px;
      margin: 8% 0;
    }
  }

  .form {
    width: 20%;
    display: flex;
    flex-direction: column;

    p {
      color: #c5c4d0;
    }

    input {
      background-color: #161345;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 1.11111vw;
      letter-spacing: 0.00694vw;
      line-height: 1.52778vw;
      outline: none;
      padding: 1.25vw 2.08333vw 1.25vw 0;
      width: 100%;
      &::placeholder {
        color: #fff;
      }
    }

    .social-media {
      display: flex;
      justify-content: space-between;
      width: 65%;
      margin-top: 10%;
      a {
        font-size: 2rem;
        color: white;
        font-size: 1.2rem;
      }
    }
  }

  .info {
    width: 30%;
    margin-left: 15%;

    img {
      width: 12.5vw;
      margin-bottom: 5%;
    }
    p {
      font-size: 0.8rem;
      line-height: 1.5em;
      margin: 2% 0;
      color: #c5c4d0;
      font-family: 'bridge-font';
    }
    .address {
      margin: 5% 0;
    }
    .reserved {
      margin-top: 20%;
    }
  }
  @media only screen and (max-width: 800px) {
    .form,
    .info {
      display: none;
    }

    .links {
      display: flex;
      flex-direction: row;

      width: 100%;
      justify-content: space-between;

      .link-list {
        display: flex;
        width: 50%;
        justify-content: center;
        flex-direction: column;
        a:hover {
          background-color: white;
          color: #161345;
        }
      }
      img {
        display: flex;
        align-items: center;
        margin: auto 0;
      }
    }
  }
}
