.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5% 20%;
  align-content: center;
  background: #161345;
  p {
    font-size: 1.2rem;
    margin: 2% 0;
    color: #fff;
    font-family: 'bridge-font';
  }
  a {
    color: white;
    font-size: 2rem;
  }
  .social-media {
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    margin: 0 auto;
    width: 100%;
    color: white;
    cursor: pointer;
  }
}
