@import 'mapbox.scss';
@import 'nav.scss';
@import 'footer.scss';
@import 'global.scss';
@import 'bridgeImage.scss';

@font-face {
  font-family: 'bridge-font';
  src: url(../fonts/AkkRg_Pro.otf);
}

@font-face {
  font-family: 'bridge-font-bd';
  src: url(../fonts/AkkBd_Pro.otf);
}
