.mapbox-react {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 2% auto;

  .fullScreenControl {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .navigationControl {
    position: absolute;
    right: 10px;
    top: 50px;
  }

  .descriptionContainer {
    position: absolute;
    margin: 4% 4% 0 0;
    right: 0;
    top: 0;
    width: 25vw;
    height: 40vh;
    background-color: white;
    -webkit-box-shadow: 2px 1px 5px 0px rgba(148, 142, 148, 1);
    -moz-box-shadow: 2px 1px 5px 0px rgba(148, 142, 148, 1);
    box-shadow: 2px 1px 5px 0px rgba(148, 142, 148, 1);

    div {
      background-color: white;
      border: none;
      font-size: 1.5rem;
      margin-left: 3%;
      margin-top: 1%;
      width: auto;
    }

    .descriptionBox {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .search-bar {
    position: absolute;
    left: 10;
    top: 10;
    z-index: 0;
  }

  .mapboxgl-ctrl-geocoder {
    width: 1000px;
  }
}
