.mapbox-react {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2% auto;

  .fullScreenControl {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 0;
  }

  .navigationControl {
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 0;
  }

  .detailsContainer {
    position: absolute;
    z-index: 10;

    margin: 8% 6% 0 0;
    right: 0;
    top: 0;
    cursor: move;
    width: 25vw;
    background-color: white;
    box-shadow: 2px 1px 5px 0px rgba(148, 142, 148, 1);

    div {
      background-color: white;
      border: none;
      font-size: 1rem;
      margin-left: 3%;
      margin-top: 1%;
      width: auto;
    }

    .closeButton:hover {
      cursor: pointer;
    }

    .detailsInfo {
      font-weight: 600;
      display: flex;
      align-items: center;
      flex-direction: column;
      .bridge-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          width: 300px;
        }
        p {
          font-size: 0.5rem;
        }
      }
    }
    .detailsInfo p {
      font-size: 1.2rem;
    }
  }

  .dataContainer {
    position: absolute;
    z-index: 10;

    margin: 8% 6% 0 0;
    right: 0;
    top: 0;
    cursor: move;
    width: 50vw;
    background-color: white;
    box-shadow: 2px 1px 5px 0px rgba(148, 142, 148, 1);

    div {
      background-color: white;
      border: none;
      font-size: 1rem;
      margin-left: 3%;
      margin-top: 1%;
      width: auto;
    }

    // Details Info Modal

    .closeButton:hover {
      cursor: pointer;
    }

    .detailsInfo {
      font-weight: 600;
      display: flex;
      align-items: center;
      flex-direction: column;

      // div { //DataCard echart
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 500px;
      //   height: 300px;

      //   div {
      //     width: auto;
      //     height: auto;
      //   }

      // }

      .bridge-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          width: 300px;
        }
        p {
          font-size: 0.5rem;
        }
      }
    }
    .detailsInfo p {
      font-size: 1.2rem;
    }
  }

  .desktop {
    #satellite-label {
      margin-right: 0.5rem;
      color: #66c3e3;
    }
    .satellite {
      position: absolute;
      margin: 0.7rem 0 0 67rem;
      padding: 0.4rem;
      background-color: white;
      z-index: 1;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    .search-bar {
      position: absolute;
      left: 10;
      top: 10;
      margin: 9px 0 0 10px;
      z-index: 0;
    }
    .check-box {
      position: absolute;
      margin: 10px 0 0 380px;
      background-color: white;
      z-index: 1;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;

      .check-box-section {
        height: 38px;
        padding: 10px 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .checkbox-list {
          display: flex;
        }
      }
    }

    .mapboxgl-ctrl-geocoder {
      width: 1000px;
    }
  }

  .toggle {
    display: none;
  }
  @media only screen and (max-width: 1350px) {
    width: 100%;

    .toggle {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      padding: 5px;
      background-color: white;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 5px 0 0 5px;
    }
    .hidden {
      display: none;
    }
    .desktop {
      .satellite {
        position: absolute;
        left: 10;
        top: 10;
        z-index: 0;
        margin: 16rem 0 0 0;
      }
      .search-bar {
        position: absolute;
        left: 10;
        top: 10;
        z-index: 0;
        margin: 45px 0 0 0;
      }
      .check-box {
        margin: 100px 0 0 0;
        width: 390px;
        height: 145px;

        .check-box-section {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          font-size: 0.8rem;

          .restricted {
            margin: 5px 0;
            width: 40%;
          }
        }
      }
    }

    .detailsContainer {
      margin: 250px 4% 0 0;

      width: 50%;
      cursor: move;

      div {
        background-color: white;
        border: none;
        margin-top: 1%;
      }

      .detailsInfo h2 {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
      }
      .detailsInfo p {
        width: 100%;
        font-size: 12px;
      }
      .detailsInfo .bridge-image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }
      .detailsInfo .bridge-image img {
        width: 125px;
      }
    }
  }
  .popup {
    padding-top: 5%;
    p {
      font-size: 0.8vw;
      line-height: 0.8vw;
      font-weight: 400;
    }
  }
}
