.map-container {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  .map {
    width: 80%;
    height: 90vh;
  }
  #map {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // width: 100%;
  }
}
