.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  padding: 0 5%;
  margin: 0%;
  border-bottom: 1px solid #d6d1ca;

  .logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
    img {
      //logo is kinda big
      height: auto;
      width: 2.5vw;
      margin-bottom: 1.1%;
      margin-right: 1%;
    }
    h1 {
      display: flex;
      align-self: flex-end;
      color: #161345;
      // margin-left: 10px;
      // padding: 4% 0;
      font-size: 2.2vw;
      margin: 0;
      font-family: 'bridge-font-bd';
      letter-spacing: -1.5px;
    }
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    .navLinks {
      color: #161345;
      font-size: 1.25vw;
      font-family: 'bridge-font';
      font-weight: 700;
      border-bottom: 1px solid rgba(var(--b3f, 250, 250, 250), 1);
      &:hover {
        border-bottom: 1px solid #161345;
      }
    }

    .loginButton {
      display: flex;
      align-items: center;
      background-color: #009149;
      padding: 8.3% 10.5%;
      color: white;
      height: 7vh;
      font-family: 'bridge-font';
      font-weight: 700;
      font-size: 1.25vw;
    }
  }
}
