.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5%;
  margin: 1% 0%;
  border-bottom: 1px solid #d6d1ca;

  .logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
    img {
      height: auto;
      width: 4vw;
      margin: 1%;
      margin-bottom: 2.2%;
    }
    h1 {
      display: flex;
      align-self: flex-end;
      // margin-left: 10px;
      // padding: 4% 0;
      font-size: 4vw;
      margin: 0;
      font-family: 'bridge-font-bd';
    }
  }

  .loginButton {
    display: flex;
    align-items: center;
    background-color: #009149;
    padding: 0 3.5%;
    color: white;
    height: 75%;
    font-family: 'bridge-font';
    font-weight: 700;
    font-size: 1.25vw;
  }
}
