.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  padding: 0 5%;
  margin: 0%;
  border-bottom: 1px solid #d6d1ca;

  .logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
    cursor: pointer;

    img {
      height: auto;
      width: 2.5vw;
      margin-bottom: 1.1%;
      margin-right: 1%;
    }
    h1 {
      display: flex;
      align-self: flex-end;
      color: #161345;
      font-size: 2.2vw;
      margin: 0;
      font-family: 'bridge-font-bd';
      letter-spacing: -1.5px;
      &:hover {
        color: #48914a;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;

    .navLinks {
      color: #161345;
      font-size: 1.25vw;
      font-family: 'bridge-font';
      font-weight: 700;
      border-bottom: 1px solid rgba(var(--b3f, 250, 250, 250), 1);

      &:hover {
        color: #48914a;
      }
    }

    .loginButton {
      display: flex;
      align-items: center;
      background-color: #009149;
      padding: 8.3% 10.5%;
      color: white;
      height: 7vh;
      font-family: 'bridge-font';
      font-weight: 700;
      font-size: 1.25vw;
      border: 1px solid #48914a;

      &:hover {
        color: #48914a;
        background-color: white;
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .logo {
      align-items: center;
      img,
      h1 {
        font-size: 1.5rem;
      }
      img {
        width: 1.5rem;
      }
    }
    .links {
      .navLinks,
      .loginButton {
        font-size: 1.5rem;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    .logo {
      align-items: center;
      img,
      h1 {
        font-size: 1rem;
      }
      img {
        width: 1rem;
      }
    }
    .links {
      .navLinks,
      .loginButton {
        margin: 0 2px;
        font-size: 0.8rem;
      }
    }
  }
}
