.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 5%;
  border-bottom: 1px solid #d6d1ca;

  img {
    height: 80%;
  }

  .loginButton {
    display: flex;
    align-items: center;
    background-color: #009149;
    padding: 0 4%;
    color: white;
    height: 75%;
  }
}
