.mainContainer {
  display: flex;
  justify-content: center;

  p {
    margin: 0;
    font-size: 1rem;
  }
  .cardContainer {
    width: 80%;
    margin: 5% 0;
    border-radius: 10px;
    border: 2px solid green;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #d6d1ca;
      padding: 1%;
      p {
        margin: 0;
      }
    }

    .title {
      display: flex;
      flex-flow: wrap;
      justify-content: space-evenly;
      border-bottom: 1px solid #d6d1ca;
      width: 100%;

      .bridge-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;

        width: 30%;
        img {
          width: 20vw;
        }
      }

      .bridge-title-section {
        width: 70%;
        display: flex;
        padding: 1%;
        // justify-content: center;
        align-items: center;
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      padding: 1%;
      border-bottom: 1px solid #d6d1ca;

      p {
        // width: 45%;
        margin: 0;
      }
      .column {
        width: 50%;
        padding: 10px 20px;
      }
    }

    .communitiesServed {
      padding: 10px 20px;
      border-bottom: 1px solid #d6d1ca;
    }

    .internal-data {
      padding: 10px 20px;
    }
    .links {
      color: #161345;
      display: flex;
      justify-content: space-between;
      padding: 5px;

      a {
        border-bottom: 1px solid rgba(var(--b3f, 250, 250, 250), 1);
        width: 60px;
        text-align: center;
        font-size: 1.1rem;
        border: 1px solid green;
        background-color: green;
        color: white;
        border-radius: 10px;
        padding: 1%;
        &:hover {
          color: #009149;
          background-color: white;
          border-bottom: 1px solid #009149;
        }
      }
    }
  }
}
